.banner {
  color: $color-white;
  display: flex;
  justify-content: space-between;

  &__sale {
    &--description {
      font-size: 3rem;
    }

    &--title {
      font-size: 5.5rem;
      font-weight: 700;
      margin-top: 3rem;
      margin-bottom: 6rem;
    }
  }
}

.main-item {
  flex: 0 0 50%;
}

.box {
  position: relative;
  &__price {
    position: absolute;
    right: 0;
    top: 3.5rem;
    text-align: right;
    &--old {
      font-size: 2.4rem;
      font-weight: 700;
    }
    &--new {
      color: $color-price;
      font-size: 4.2rem;
      font-weight: 700;
      margin-top: 1.7rem;
    }
  }
  &__image {
    width: 100%;
    max-width: 55.6rem;
  }
}

.btn {
  color: $color-white;
  background-color: $color-dark-light;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1.8rem 2.8rem;

  display: inline-block;
  border-radius: 0.3rem;
}

@media (max-width: 665px) {
  .banner {
    display: flex;
    flex-direction: column;
  }
  .box__image {
    width: 100%;
    text-align: center;
  }

  .box {
    max-width: 600px;
    margin: 0 auto;
  }

  .box__price {
    margin-top: 5rem;
  }
  .banner__sale {
    text-align: center;
  }
}

@media (max-width: 435px) {
  .box__image {
    width: 70%;
  }
  .box__price--old {
    font-size: 1.8rem;
  }
  .box__price--new {
    font-size: 2.5rem;
  }
}
