.footer {
  display: flex;
  justify-content: space-evenly;
}

.footer-nav {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
  &__list {
    &--item {
      color: $color-white;
      list-style: none;
      padding-left: 0;
      font-size: 1.4rem;
      font-weight: 700;
      margin: 2rem 0;
    }

    &--link {
      color: grey;
      text-decoration: none;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 800px) {
  .footer {
    flex-wrap: wrap;
  }

  .footer-nav {
    flex-wrap: wrap;
  }

  .footer-nav__list {
    flex: 0 0 49%;
  }
}
