//colors
$color-price: #dae049;
$color-dark: black;
$color-dark-light: rgb(27, 25, 25);
$color-dark-gray: #8d8d8d;
$color-accent: #d7b399;
$color-white: #fff;
$color-blue: #3298fc;
$color-blue-dark: #0057ad;
$color-grey: #f9f6f1;
$color-light-grey: #f4f4f4;
$color-red: #d84033;

//fonts

$font-main: "Montserrat", sans-serif;
